name: Release package to NPM

on:
  push:
    branches:
      - main
      - next

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release:
    permissions:
      contents: write
      issues: write
      pull-requests: write
    name: Release package
    runs-on: ubuntu-latest
    environment:
      name: Release
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Setup
        uses: ./.github/setup

      - name: Build package
        working-directory: packages/server
        run: bun run build

      - name: Semantic release
        uses: cycjimmy/semantic-release-action@v4
        with:
          working_directory: packages/server
          semantic_version: latest
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/git
            @semantic-release/npm
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
